body {
    display: block;
    width: 960px;
    margin: 0 auto;
    padding: 0;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
    color: #777777;
    background-image: url(../images/leaves-pattern.png);
    /* leaves-pattern.png from Subtle Patterns */
}

header {
    width: 100%;
    height: 75px;
    background: #ffffff;
  }
  
 .namebox {
    position: relative;
    width: 100%;
    background: #ffffff;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

.name {
    left: 0%; 
    width: 30%;
    float: left;
    margin: 2px 5% 0 3%;
    padding: 20px 0;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    background: #4aaaa5;
}

/* code for navigation*/ 
.box {
  position: relative;
  color: #ffffff;
  top: 30px;
  width: 10%;
  float: left;
  font-family: 'Georgia', Times, 'Times New Roman', serif;
  font-size: 18px;
  text-align: center;
}

.button-1 { 
  left: 25%;
}

.button-2 {
  left: 27%;
}

.button-3 {
  left: 29%;
}


/* define page title line's container  */
.pagetitle {
    background: #ffffff;
    width: 960px;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
   clear: both;
}
















hr {
    width: 80%;
    height: 8px;
    margin-left: auto;
    margin-right: auto;
    background-color:#666;
    border: 0 none;
    margin-top: 100px;
    margin-bottom:100px;
    }