* {
  box-sizing: border-box;
  text-align: center;
}

body {
    display: block;
    width: 960px;
    margin: 0 auto;
    padding: 0;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
    color: #777777;
    background-image: url(../images/leaves-pattern.png);
    /* leaves-pattern.png from Subtle Patterns */
}

header {
  height: 75px;
  background: #ffffff;
}

.namebox {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    left: 0%; 
    width: 30%;
    float: left;
    margin: 2px 5% 0 5%;
    padding: 20px 0;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    color: #eee;
    background: #4aaaa5;
}

/* code for navigation*/ 
.box {
  position: relative;
  top: 30px;
  width: 10%;
  float: left;
  font-family: 'Georgia', Times, 'Times New Roman', serif;
  font-size: 18px;
  text-align: center;
}

.button-1 { 
  left: 25%;
}

.button-2 {
  left: 27%;
}

.button-3 {
  left: 29%;
}

/* define page portfolio container */

.container {
  position: relative;
  width: 90%;
  margin-top: 20px;
  margin-left: 5%;
  background: #ffffff;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  clear: both;
}

.porttitle {
  position: relative;
}

h2 {
  width: 25%;
  padding-top: 20px;
  font-family: 'Georgia', Times, 'Times New Roman', serif;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #4aaaa5;
}

/*style divider line*/

#divider {
  height: 20px;
  align-items: center;
  clear: both;
}

hr {
    width: 90%;
    height: 2px;
    background-color:rgb(202, 201, 201);
    }

/*style and position portfolio boxes*/

.portlist {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

#leftcol {
  position: relative;
   width: 33.3%;
   height: 820px;
   background: #ffffff;
   float: left;
}

#Knit {
  position: absolute;
  left: 35px;
  top: 20px;
  height: 250px;
  width: 250px;
}

.knittitle {
  position: absolute;
  left: 35px;
  top: 200px;
  background: #4aaaa5;
  color:  #ffffff;
  width: 250px;
  padding: 10px;
}

#School {
  position: absolute;
  left: 35px;
  top: 290px;
  height: 250px;
  width: 250px;
}

.schooltitle {
  position: absolute;
  left: 35px;
  top: 470px;
  background: #4aaaa5;
  color:  #ffffff;
  padding: 10px;
  width: 250px;
}

#Smiths {
  position: absolute;
  left: 35px;
  top: 560px;
  height: 250px;
  width: 250px;
}

.smithtitle {
  position: absolute;
  left: 35px;
  top: 720px;
  background: #4aaaa5;
  color:  #ffffff;
  padding: 10px;
  width: 250px;
}

#middlecol {
  position: relative;
  width: 33.3%;
  height: 820px;
  background: #ffffff;
  float: left;
}

#Fashion {
  position: absolute;
  left: 35px;
  top: 20px;
  height: 250px;
  width: 250px;
}

.fashiontitle {
  position: absolute;
  left: 35px;
  top: 200px;
  background: #4aaaa5;
  color:  #ffffff;
  width: 250px;
  padding: 10px;
}

#User {
  position: absolute;
  left: 35px;
  top: 290px;
  height: 250px;
  width: 250px;
}

.usertitle {
  position: absolute;
  left: 35px;
  top: 470px;
  background: #4aaaa5;
  color:  #ffffff;
  width: 250px;
  padding: 10px;
}

.placeholder1 {
  position: absolute;
  left: 35px;
  top: 560px;
  height: 250px;
  width: 250px;
}

#rightcol {
  position: relative;
  width: 33.4%;
  height: 820px;
  background: #ffffff;
  float: left;
}

    /* define Footer use Clear to separate from previous definitions */

    footer {
      position: sticky;
      bottom: 0;
      background:  #666666;
      color: rgb(194, 193, 193);
      text-align: center;
      font-size: 12px;
      padding: 10px;
      border-top: 3px;
      border-top-color: #4aaaa5;
      clear: both;
    }