body {
    display: block;
    border-color: #dddddd;
    width: 960px;
    margin: 0 auto;
    padding: 0;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
    line-height: 150%;
    color: #333333;
    background-image: url(../images/leaves-pattern.png);
    /* leaves-pattern.png from Subtle Patterns */
}

header {
  width: 100%;
  height: 75px;
  background: #ffffff;
}

.namebox {
    position: relative;
    width: 100%;
    background: #ffffff;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

.name {
    left: 0%; 
    width: 30%;
    float: left;
    margin: 2px 5% 0 3%;
    padding: 20px 0;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    color: #eee;
    background: #4aaaa5;
}

/* code for navigation*/ 
.box {
  position: relative;
  color: #eee;
  background: #4aaaa5;
  top: 30px;
  width: 10%;
  float: left;
  font-family: 'Georgia', Times, 'Times New Roman', serif;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
}

.button-1 { 
  left: 25%;
}

.button-2 {
  left: 27%;
}

.button-3 {
  left: 29%;
}


/* define page title line's container  */
.pagetitle {
    background: #eee;
    width: 960px;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
   clear: both;
}

/* define Portfolio's box  */
#portfolio {
    color: black;
    background: #eee;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-weight: bold;
    width: 100%;
    padding:  5px 0px 0px 30px;
    float: left;
   }

   h2 {  
    color: #4aaaa5;
    background: #eee;  
    width: 30%;
    margin: 20px 10px 20px 25px;    
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 24px;
   }

  /* define grid for portfolio listings */
.worklist {
    background: #eee;
    clear: both;
    margin-bottom: 30px;
    display: grid;
    grid-template-rows: 175px 175px 175px;
    grid-template-columns: 200px 200px 200px;
    grid-gap: 20px;
}

.box2 {
    position: relative;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 20px;
    width: 150px;
    height: 150px;
    background: #4aaaa5;
    margin-top: 25px;
    margin-left: 20px;
  }
  
   #Knit {
      width: 150px;
      height: 150px;
  }

  #School {
    width: 150px;
    height: 150px;
  }
  
  #Smiths {
    width: 150px;
    height: 150px;
  }

  #Fashion {
    width: 150px;
    height: 150px;
  }

  #DBRev {
    width: 150px;
    height: 150px;
  }

/* define Footer use Clear to separate from previous definitions */

footer {
  height: 30px;
  color: black;
  border-top: 8px solid #4aaaa5;
  background: #666666;
  text-align: center;
  font-size: 12px;
  clear: both;
}
