body {
    border-color: #dddddd;
    width: 960px;
    margin: 0 auto;
    padding: 0;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
    line-height: 150%;
    color: #333333;
    background-image: url(../images/leaves-pattern.png);
    /* leaves-pattern.png from Subtle Patterns */
}

header {
    width: 100%;
    background: #ffffff;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

h1 {
    color: #eee;
    background: #4aaaa5;
    width: 30%;
    float: left;
    margin-left:  5%;
    padding: 20px 0;
    font-size: 28px;
    text-align: center;
}

/* code for navigation buttons */
nav {
  width: 65%;
  float: right;
}

ul {
  list-style-type: none;
}

nav ul li a {
  display: block;
  width: 30%; 
  margin-top: 5%;
  background: #4aaaa5;
  color: #eee;
  text-align: center;
  text-decoration: none;
  float: left;
}  
 
h2 {  
    color: #4aaaa5;
    background: #eee;  
    width 30%;
    margin: 20px 10px 20px 25px;    
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 24px;
}

/* define box for About Betsy, image, and biography text */
.container {
    background: #eee;
    width: 960px;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
   clear: both;
}

/* define About Betsy  */
#about{
    color: black;
    background: #eee;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    width: 100%;
    padding:  5px 0px 0px 20px;
    float: left;
   }

  /* define Image parameters */
#Betsy {   
    float: left; 
    margin-right: 10px;
    width: 10%;
  }

/* define Footer use Clear to separate from previous definitions */
footer {
    text-align: center;
    font-size: 12px;
    color: black;
    background: #666666;
    padding: 4px;
    border-top: 4px;
    border: #4aaaa5;
    clear: both;
}
