body {
    width: 960px;
    border-color: #dddddd;
    margin: 0 auto;
    padding: 0;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
    line-height: 150%;
    color: #333333;
}

header {
    background: #ffffff;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

h1 {
    color: #eee;
    background: #4aaaa5;
    width: 30%;
    margin: 0;
    margin-bottom: 20px;
    padding: 20px 0;
    font-size: 28px;
    text-align: center;
}

.container {
    background-image: url(../images/leaves-pattern.png);
    /* leaves-pattern.png from Subtle Patterns */
    width: 960px;
    margin: 0 auto;
}

#Betsy {
    width: 200px;
    float: left;
    width: 20%;
    margin: 20px 10px 20px 0px;
}
