body {
    display: block;
    border-color: #dddddd;
    width: 960px;
    margin: 0 auto;
    padding: 0;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
    line-height: 150%;
    color: #333333;
    background-image: url(../images/leaves-pattern.png);
    /* leaves-pattern.png from Subtle Patterns */
}

header {
  width: 100%;
  height: 75px;
  background: #ffffff;
}

.namebox {
    position: relative;
    width: 100%;
    background: #ffffff;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

.name {
    left: 0%; 
    width: 30%;
    float: left;
    margin: 2px 5% 0 3%;
    padding: 20px 0;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    color: #eee;
    background: #4aaaa5;
}

/* code for navigation*/ 
.box {
  position: relative;
  color: #ffffff;
  top: 30px;
  width: 10%;
  float: left;
  font-family: 'Georgia', Times, 'Times New Roman', serif;
  font-size: 18px;
  text-align: center;
}

.button-1 { 
  left: 25%;
}

.button-2 {
  left: 27%;
}

.button-3 {
  left: 29%;
}


/* define box for About Betsy, image, and biography text */
.container {
    background: #eee;
    width: 960px;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
   clear: both;
}

/* define About Betsy  */
#about{
    color: black;
    background: #eee;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-weight: bold;
    width: 100%;
    padding:  5px 0px 0px 30px;
    float: left;
   }

   h2 {  
    color: #4aaaa5;
    background: #eee;  
    width: 30%;
    margin: 20px 10px 20px 25px;    
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 24px;
}

  /* define Image parameters */
#Betsy {   
    float: left; 
    margin: 3px 10px 10px 5px;
    width: 150px;
    height: 150px;
  }

/* define Footer use Clear to separate from previous definitions */

footer {
  position: absolute;
  width: 960px;
  background:  #4aaaa5;
  height: 34px;
  bottom: 0;
  clear: both;
}

.foot {
  position: absolute; 
  width: 960px;
  height: 30px;
  bottom: 0;
  color: black;
  background: #666666;
  text-align: center;
  vertical-align: 0px;
  font-size: 12px;
}
